# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        56
        102
        108
        97
        116
        99
        111
        108
        111
        114
        101
        100
        98
        108
        111
        99
        107
        115
        37
        51
        65
        102
        108
        97
        116
        99
        111
        108
        111
        114
        101
        100
        98
        108
        111
        99
        107
        95
        103
        108
        111
        119
        105
        110
        103
        48
        95
        56
        48
        63
        115
        104
        97
        100
        101
        61
        52
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        78
        120
        -38
        99
        98
        -78
        72
        -53
        73
        44
        73
        -50
        -49
        -55
        47
        74
        77
        73
        -54
        -55
        79
        -50
        46
        86
        53
        118
        68
        23
        -117
        79
        -49
        -55
        47
        -49
        -52
        75
        55
        -120
        -73
        48
        -80
        47
        -50
        72
        76
        73
        -75
        53
        97
        16
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        1
        -22
        72
        -52
        44
        -78
        103
        -8
        -61
        -52
        -62
        -64
        -56
        -64
        0
        0
        26
        -45
        28
        96
        3
        0
        2
        108
        118
        0
        0
        0
        15
        0
        0
     >
}


